@media(max-width:575.98px){
    .blog-card-wrap{
        width: 100%;
    }
}
@media(max-width:767.98px){
    .blog-card-row{
        --bs-gutter-y: 1rem;
        --bs-gutter-x: 1rem;
    }
}
.blog-card-wrap .card a, .related-blog-section a{
    text-decoration: none;
    color: rgb(205, 94, 10);
}
.blog-card-img{
    height: 200px;
    object-fit: cover;
}

.blog-card-wrap .card .card-footer{
    background: #f5f1dcc9;
}